                               FILMES MAIS BEM CLASSIFICADOS PELOS CLIENTES DE STREAMINGS

       Em público que foi avaliado por classificação de 0,5 a 5,0 entre varios gêneros, e anos da suas estreias

In [13]:
# TOP5 de toda a lista 
    
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula3.1/movies.csv"
filmes = pd.read_csv(uri)
filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
 # Com seus gêneros classificados 

uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
notas = pd.read_csv(uri)
filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [44]:
filmes.columns = ["filmeId","títulos","gênero"]
filmes.head(10)

,filmeId,títulos,gênero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [7]:
#Cliente e filmes que foram classificados por eles e notas

notas.columns = ['userId','filmesId','nota','timestamp']
notas.head(10)

   userId  filmesId  nota  timestamp
0       1         1   4.0  964982703
1       1         3   4.0  964981247
2       1         6   4.0  964982224
3       1        47   5.0  964983815
4       1        50   5.0  964982931
5       1        70   3.0  964982400
6       1       101   5.0  964980868
7       1       110   4.0  964982176
8       1       151   5.0  964984041
9       1       157   5.0  964984100

In [8]:
notas["nota"].head(10)

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
5    3.0
6    5.0
7    4.0
8    5.0
9    5.0
Name: nota, dtype: float64

In [9]:
# Media de todas as notas em valores unicos  
    
    
notas["nota"].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [34]:
# Nota media da maioria


notas['nota'].mean()

3.501556983616962

In [35]:
# Descrição de todas as notas

notas.describe()

              userId       filmesId           nota     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [43]:
# Gêneros 

filmes["gênero"].head(10)

0    Adventure|Animation|Children|Comedy|Fantasy
1                     Adventure|Children|Fantasy
2                                 Comedy|Romance
3                           Comedy|Drama|Romance
4                                         Comedy
5                          Action|Crime|Thriller
6                                 Comedy|Romance
7                             Adventure|Children
8                                         Action
9                      Action|Adventure|Thriller
Name: gênero, dtype: object

In [51]:
#todos os gêneros que foram avaliados 
    
    filmes["gênero"]. describe()

count      9742
unique      951
top       Drama
freq       1053
Name: gênero, dtype: object

In [61]:
print(type(filmes))
print(type(5))
print ("filmes")

<class 'pandas.core.frame.DataFrame'>
<class 'int'>
filmes

In [10]:
# Melhor filmes de fantasia 95°




fantasy = "mais_classificados"
filmes={
    'nome':'toy story',
    'ano':'1995',
    'sinopse':'Um brinquedo do cauboi se sente profundamente ameaçado e celoso quando um brinquedo patrulheiro espacial passa a ter mais atençao do garoto.'
}

filmes2={
    'nome':'jumanji',
    'ano':'1995',
    'sinopse':'Quando duas crianças encontram um jogo de tabuleiro mágico, elas libertam um homem que ficou preso no jogo por décadas e inúmeras ameaças que só serão interrompidas se puderem terminar o jogo.'
}

print(fantasy)
print(filmes)
print(filmes2)
print(type(filmes))

mais_classificados
{'nome': 'toy story', 'ano': '1995', 'sinopse': 'Um brinquedo do cauboi se sente profundamente ameaçado e celoso quando um brinquedo patrulheiro espacial passa a ter mais atençao do garoto.'}
{'nome': 'jumanji', 'ano': '1995', 'sinopse': 'Quando duas crianças encontram um jogo de tabuleiro mágico, elas libertam um homem que ficou preso no jogo por décadas e inúmeras ameaças que só serão interrompidas se puderem terminar o jogo.'}
<class 'dict'>

In [74]:
print (filmes.shape)

(9742, 3)